---
layout: default
title: Downloads
id: downloads
description: download TortoiseSVN
lang: en
showAds: true
---

<div class="post">
    <h1 class="title">Downloads</h1>
    <div class="entry">
        <h1>The current version is {{ site.version.short }}</h1>
        <p>For detailed info on what's new, read the
        <a href="/Changelog.txt">changelog</a>
        and the <a href="/tsvn_1.10_releasenotes.html">release notes</a>.
        </p>

        {% include adsense_inpage.html %}

        <p>The current version {{ site.version.short }} is linked against
        the Subversion library {{ site.version.svn }}.</p>
        <p>Please make sure that you choose the
        right installer for your PC, otherwise the setup will fail.
        </p>

        <table class="downloads-table">
            <thead>
            <tr>
                <td><strong>for 32-bit OS</strong></td>
                <td><strong>for 64-bit OS</strong></td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Application/TortoiseSVN-{{ site.version.long }}-win32-svn-{{ site.version.svn }}.msi"
                       title="Download TortoiseSVN {{ site.version.short }} - 32-bit, linked to SVN {{ site.version.svn }}"
                       class="btn">
                       TortoiseSVN <span>{{ site.version.short }}</span> - <span>32-bit</span>
                    </a>
                </td>
                <td>
                    <a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Application/TortoiseSVN-{{ site.version.long }}-x64-svn-{{ site.version.svn }}.msi"
                       title="Download TortoiseSVN {{ site.version.short }} - 64-bit, linked to SVN {{ site.version.svn }}"
                       class="btn">
                       TortoiseSVN <span>{{ site.version.short }}</span> - <span>64-bit</span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <p>
        To verify the file integrity follow
        <a href="/msiverify.html">these instructions</a>.
        </p>
        <div class="important">
        <h3>Context menu in file-open/save dialogs on x64 OS</h3>
        <p>
        On x64 versions of Windows 7 and 8, the TortoiseSVN context menu and overlays
        won't show for 32-bit applications in their file-open/save dialogs until
        you install the
        <a href="https://aka.ms/vs/15/release/vc_redist.x86.exe">2017 C-runtime for x86</a>.
        (select the <em>vc_redist.x86.exe</em> file for download).
        </p>
        <p>
        Note: this only applies to 32-bit applications on x64 OS. The Windows explorer
        is not affected by this.
        </p>
        </div>

        <div class="important">
        <h3>Pre-Release Builds</h3>
        <p>
        If there is a bug in the latest released version which you really cannot live with, and which has
        already been reported as fixed, then you can try installing a <a href="#prerelease">pre-release build</a>
        from the stable release branch.
        </p>
        </div>
        <br/>
    </div>
</div>

<div class="post">
    <h1 class="title">Language packs</h1>
    <div class="entry">
        <table class="table-hover left-aligned">
        <thead>
        <tr>
            <th>Country</th>
            <th>32 Bit</th>
            <th>64 Bit</th>
            <th colspan="2">Separate manual (PDF)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="flag-al">Albanian</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-sq.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-sq.msi">Setup</a></td>
            <td colspan="2"><a href="https://www.transifex.com/projects/p/tortoisesvn">Translate to Albanian</a></td>
        </tr>
        <tr>
            <td class="flag-sa">Arabic</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-ar.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-ar.msi">Setup</a></td>
            <td colspan="2"><a href="https://www.transifex.com/projects/p/tortoisesvn">Translate to Arabic</a></td>
        </tr>
        <tr>
            <td class="flag-be">Belarussian (Tarask)</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-be@tarask.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-be@tarask.msi">Setup</a></td>
            <td colspan="2"><a href="https://www.transifex.com/projects/p/tortoisesvn">Translate to Belarussian (Tarask)</a></td>
        </tr>
        <tr>
            <td class="flag-bg">Bulgarian</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-bg.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-bg.msi">Setup</a></td>
            <td colspan="2"><a href="https://www.transifex.com/projects/p/tortoisesvn">Translate to Bulgarian</a></td>
        </tr>
        <tr>
            <td class="flag-ca_ES">Catalan</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-ca.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-ca.msi">Setup</a></td>
            <td colspan="2"><a href="https://www.transifex.com/projects/p/tortoisesvn">Translate to Catalan</a></td>
        </tr>
        <tr>
            <td class="flag-zh_CN">Chinese, simplified</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-zh_CN.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-zh_CN.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Documentation/TortoiseSVN-{{ site.version.short }}-zh_CN.pdf">TSVN</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Documentation/TortoiseMerge-{{ site.version.short }}-zh_CN.pdf">TMerge</a></td>
        </tr>
        <tr>
            <td class="flag-zh_TW">Chinese, traditional</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-zh_TW.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-zh_TW.msi">Setup</a></td>
            <td colspan="2"><a href="https://www.transifex.com/projects/p/tortoisesvn">Translate to trad. Chinese</a></td>
        </tr>
        <tr>
            <td class="flag-hr">Croatian</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-hr.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-hr.msi">Setup</a></td>
            <td colspan="2"><a href="https://www.transifex.com/projects/p/tortoisesvn">Translate to Croatian</a></td>
        </tr>
        <tr>
            <td class="flag-cs">Czech</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-cs.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-cs.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Documentation/TortoiseSVN-{{ site.version.short }}-cs.pdf">TSVN</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Documentation/TortoiseMerge-{{ site.version.short }}-cs.pdf">TMerge</a></td>
        </tr>
        <tr>
            <td class="flag-da">Danish</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-da.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-da.msi">Setup</a></td>
            <td colspan="2"><a href="https://www.transifex.com/projects/p/tortoisesvn">Translate to Danish</a></td>
        </tr>
        <tr>
            <td class="flag-nl">Dutch</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-nl.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-nl.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Documentation/TortoiseSVN-{{ site.version.short }}-nl.pdf">TSVN</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Documentation/TortoiseMerge-{{ site.version.short }}-nl.pdf">TMerge</a></td>
        </tr>
        <tr>
            <td class="flag-fi">Finnish</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-fi.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-fi.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Documentation/TortoiseSVN-{{ site.version.short }}-fi.pdf">TSVN</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Documentation/TortoiseMerge-{{ site.version.short }}-fi.pdf">TMerge</a></td>
        </tr>
        <tr>
            <td class="flag-fr">French</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-fr.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-fr.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Documentation/TortoiseSVN-{{ site.version.short }}-fr.pdf">TSVN</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Documentation/TortoiseMerge-{{ site.version.short }}-fr.pdf">TMerge</a></td>
        </tr>
        <tr>
            <td class="flag-ka">Georgian</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-ka.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-ka.msi">Setup</a></td>
            <td colspan="2"><a href="https://www.transifex.com/projects/p/tortoisesvn">Translate to Georgian</a></td>
        </tr>
        <tr>
            <td class="flag-de">German</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-de.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-de.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Documentation/TortoiseSVN-{{ site.version.short }}-de.pdf">TSVN</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Documentation/TortoiseMerge-{{ site.version.short }}-de.pdf">TMerge</a></td>
        </tr>
        <tr>
            <td class="flag-el">Greek</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-el.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-el.msi">Setup</a></td>
            <td colspan="2"><a href="https://www.transifex.com/projects/p/tortoisesvn">Translate to Greek</a></td>
        </tr>
        <tr>
            <td class="flag-hu">Hungarian</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-hu.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-hu.msi">Setup</a></td>
            <td colspan="2"><a href="https://www.transifex.com/projects/p/tortoisesvn">Translate to Hungarian</a></td>
        </tr>
        <tr>
            <td class="flag-id">Indonesian</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-id.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-id.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Documentation/TortoiseSVN-{{ site.version.short }}-id.pdf">TSVN</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Documentation/TortoiseMerge-{{ site.version.short }}-id.pdf">TMerge</a></td>
        </tr>
        <tr>
            <td class="flag-it">Italian</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-it.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-it.msi">Setup</a></td>
            <td colspan="2"><a href="https://www.transifex.com/projects/p/tortoisesvn">Translate to Italian</a></td>
        </tr>
        <tr>
            <td class="flag-ja">Japanese</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-ja.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-ja.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Documentation/TortoiseSVN-{{ site.version.short }}-ja.pdf">TSVN</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Documentation/TortoiseMerge-{{ site.version.short }}-ja.pdf">TMerge</a></td>
        </tr>
        <tr>
            <td class="flag-ko">Korean</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-ko.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-ko.msi">Setup</a></td>
            <td colspan="2"><a href="https://www.transifex.com/projects/p/tortoisesvn">Translate to Korean</a></td>
        </tr>
        <tr>
            <td class="flag-lv">Latvian</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-lv.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-lv.msi">Setup</a></td>
            <td colspan="2"><a href="https://www.transifex.com/projects/p/tortoisesvn">Translate to Latvian</a></td>
        </tr>
        <tr>
            <td class="flag-lt">Lithuanian</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-lt.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-lt.msi">Setup</a></td>
            <td colspan="2"><a href="https://www.transifex.com/projects/p/tortoisesvn">Translate to Lithuanian</a></td>
        </tr>
        <tr>
            <td class="flag-mk">Macedonian</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-mk.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-mk.msi">Setup</a></td>
            <td colspan="2"><a href="https://www.transifex.com/projects/p/tortoisesvn">Translate to Macedonian</a></td>
        </tr>
        <tr>
            <td class="flag-ml_IN">Malayalam</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-ml.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-ml.msi">Setup</a></td>
            <td colspan="2"><a href="https://www.transifex.com/projects/p/tortoisesvn">Translate to Malayalam</a></td>
        </tr>
        <tr>
            <td class="flag-nb">Norwegian, bokmål</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-nb.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-nb.msi">Setup</a></td>
            <td colspan="2"><a href="https://www.transifex.com/projects/p/tortoisesvn">Translate to Norwegian</a></td>
        </tr>
        <tr>
            <td class="flag-oc">Occitan</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-oc.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-oc.msi">Setup</a></td>
            <td colspan="2"><a href="https://www.transifex.com/projects/p/tortoisesvn">Translate to Occitan</a></td>
        </tr>
        <tr>
            <td class="flag-ir">Persian</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-fa.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-fa.msi">Setup</a></td>
            <td colspan="2"><a href="https://www.transifex.com/projects/p/tortoisesvn">Translate to Persian</a></td>
        </tr>
        <tr>
            <td class="flag-pl">Polish</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-pl.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-pl.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Documentation/TortoiseSVN-{{ site.version.short }}-pl.pdf">TSVN</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Documentation/TortoiseMerge-{{ site.version.short }}-pl.pdf">TMerge</a></td>
        </tr>
        <tr>
            <td class="flag-pt_BR">Portuguese, Brazil</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-pt_BR.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-pt_BR.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Documentation/TortoiseSVN-{{ site.version.short }}-pt_BR.pdf">TSVN</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Documentation/TortoiseMerge-{{ site.version.short }}-pt_BR.pdf">TMerge</a></td>
        </tr>
        <tr>
            <td class="flag-pt_PT">Portuguese, Portugal</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-pt.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-pt.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Documentation/TortoiseSVN-{{ site.version.short }}-pt.pdf">TSVN</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Documentation/TortoiseMerge-{{ site.version.short }}-pt.pdf">TMerge</a></td>
        </tr>
        <tr>
            <td class="flag-ro">Romanian</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-ro.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-ro.msi">Setup</a></td>
            <td colspan="2"><a href="https://www.transifex.com/projects/p/tortoisesvn">Translate to Romanian</a></td>
        </tr>
        <tr>
            <td class="flag-ru">Russian</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-ru.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-ru.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Documentation/TortoiseSVN-{{ site.version.short }}-ru.pdf">TSVN</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Documentation/TortoiseMerge-{{ site.version.short }}-ru.pdf">TMerge</a></td>
        </tr>
        <tr>
            <td class="flag-sr_spc">Serbian, cyrillic</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-sr.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-sr.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Documentation/TortoiseSVN-{{ site.version.short }}-sr.pdf">TSVN</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Documentation/TortoiseMerge-{{ site.version.short }}-sr.pdf">TMerge</a></td>
        </tr>
        <tr>
            <td class="flag-sr_spl">Serbian, latin</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-sr@latin.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-sr@latin.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Documentation/TortoiseSVN-{{ site.version.short }}-sr@latin.pdf">TSVN</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Documentation/TortoiseMerge-{{ site.version.short }}-sr@latin.pdf">TMerge</a></td>
        </tr>
        <tr>
            <td class="flag-sk">Slovak</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-sk.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-sk.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Documentation/TortoiseSVN-{{ site.version.short }}-sk.pdf">TSVN</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Documentation/TortoiseMerge-{{ site.version.short }}-sk.pdf">TMerge</a></td>
        </tr>
        <tr>
            <td class="flag-sl">Slovenian</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-sl.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-sl.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Documentation/TortoiseSVN-{{ site.version.short }}-sl.pdf">TSVN</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Documentation/TortoiseMerge-{{ site.version.short }}-sl.pdf">TMerge</a></td>
        </tr>
        <tr>
            <td class="flag-es">Spanish</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-es.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-es.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Documentation/TortoiseSVN-{{ site.version.short }}-es.pdf">TSVN</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Documentation/TortoiseMerge-{{ site.version.short }}-es.pdf">TMerge</a></td>
        </tr>
        <tr>
            <td class="flag-sv">Swedish</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-sv.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-sv.msi">Setup</a></td>
            <td colspan="2"><a href="https://www.transifex.com/projects/p/tortoisesvn">Translate to Swedish</a></td>
        </tr>
        <tr>
            <td class="flag-ta">Tamil, India</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-ta_IN.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-ta_IN.msi">Setup</a></td>
            <td colspan="2"><a href="https://www.transifex.com/projects/p/tortoisesvn">Translate to Tamil, India</a></td>
        </tr>
        <tr>
            <td class="flag-th">Thai</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-th.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-th.msi">Setup</a></td>
            <td colspan="2"><a href="https://www.transifex.com/projects/p/tortoisesvn">Translate to Thai</a></td>
        </tr>
        <tr>
            <td class="flag-tr">Turkish</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-tr.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-tr.msi">Setup</a></td>
            <td colspan="2"><a href="https://www.transifex.com/projects/p/tortoisesvn">Translate to Turkish</a></td>
        </tr>
        <tr>
            <td class="flag-uk">Ukrainian</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-uk.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-uk.msi">Setup</a></td>
            <td colspan="2"><a href="https://www.transifex.com/projects/p/tortoisesvn">Translate to Ukrainian</a></td>
        </tr>
        <tr>
            <td class="flag-vn">Vietnamese</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-win32-vi.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Language%20Packs/LanguagePack_{{ site.version.long }}-x64-vi.msi">Setup</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Documentation/TortoiseSVN-{{ site.version.short }}-vi.pdf">TSVN</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/Documentation/TortoiseMerge-{{ site.version.short }}-vi.pdf">TMerge</a></td>
        </tr>
        </tbody>
        </table>
    </div>
</div>

{% include adsense_inpage.html %}

<div class="post">
    <h1 class="title">Other Releases</h1>
    <div class="entry">
        <h1>Forthcoming Releases</h1>
        <p>To find out what is happening with the project and when
        you can expect the next major release, take a look at our
        <a href="/status.html">project status</a> page.</p>

        <h1 id="prerelease">Stable Branch Builds</h1>
        <p>We maintain ongoing
        <a href="https://nightlybuilds.tortoisesvn.net/1.9.x/">Release Candidates</a>
        as well. These contain the latest official release plus latest bugfixes and will eventually become
        the next official release. They are not built nightly, but on demand from the current release branch,
        typically once a week if there has been any significant bugfix activity. If you find that a
        certain bug has been fixed and you do not want to wait until the next release, install one of these.
        Because they are built from the stable branch they should be completely compatible with
        the current official release and with other compatible Subversion clients.
        You would also help us tremendously by installing and testing release candidates.
        Note that the stable branch accepts bugfixes only, not new features.</p>

        <h1>Trunk Nightly Builds</h1>
        <p><a href="https://nightlybuilds.tortoisesvn.net/latest/">Nightly Builds</a> are
        available too. They are built from the current development head and are for testing only.
        This represents the bleeding edge and may be linked against a newer version of the subversion
        libraries than is used for the current release. Working copies may be upgraded automatically
        and become incompatible with the official release and with other subversion clients.
        We would love you to test these builds, but you should be aware of the potential problems
        and install only on a machine where your working copies are not critical.
        Note: This requires Windows Vista SP2 or above. Windows 7 must have SP1 installed.</p>

        <h1>Older Releases</h1>
        <p>Older releases are available from the
        <a href="https://osdn.net/projects/tortoisesvn/storage/">OSDN.net files</a> section.</p>

        <h1>Source Code</h1>
        <p>TortoiseSVN is under the GPL license. That means you can
        get the whole source code and build the program yourself.
        <br/>
        The source code is hosted on
        <a href="https://osdn.net/">osdn.net</a>
        in our own Subversion repository. You can browse the
        source code with your favorite web browser directly on the
        <a href="https://osdn.net/projects/tortoisesvn/scm/svn/">repository</a>.
        <br/>
        If you have TortoiseSVN installed, you can check out the
        whole source code by clicking on the tortoise icon below:
        <br/>
        <a href="tsvn:https://svn.osdn.net/svnroot/tortoisesvn/trunk">
            <img src="/assets/img/TortoiseCheckout.png" alt="Tortoise logo" title="Click me to get the source code!" width="48" height="48">
        </a>
        </p>
    </div>
</div>
