---
layout: default
title: Home
id: home
lang: en
showAds: true
---


<div class="post">
    <h2 class="title"><a href="/about.html">About TortoiseSVN</a></h2>
    <div class="entry">
        <p>TortoiseSVN is an
        <a href="http://subversion.apache.org/">Apache<sup>&trade;</sup> Subversion (SVN)<sup>&reg;</sup></a>
        client, implemented as a Windows shell extension.
        It's intuitive and easy to use, since it doesn't
        require the Subversion command line client to run.
        And it is free to use, even in a commercial environment.
        Simply the coolest Interface to (Sub)Version Control!</p>
        <p><a href="/about.html">read more...</a></p>
    </div>
</div>

{% include adsense_inpage.html %}

<div class="post">
    <h2 class="title"><a href="/downloads.html">TortoiseSVN 1.10.0 released</a></h2>
    <p class="meta">Posted on April 14, 2018</p>
    <div class="entry">
        <p>
        We're proud to announce that TortoiseSVN 1.10.0 has been released.
        It is linked against Subversion 1.10.0.
        </p>
        <p>
        This release contains a lot of new features, and we encourage all
        users of TortoiseSVN to upgrade as soon as reasonable.
        <p>
        Before upgrading from pre 1.10 versions please read the
        <a href="/tsvn_1.10_releasenotes.html">release notes</a>.
        </p>
        <p>
        Please read those <strong>thoroughly</strong> before you upgrade to
        TortoiseSVN 1.10 to avoid any surprises.
        </p>
    </div>
</div>
<div class="post">
    <h2 class="title"><a href="/visualstudio.html">How to integrate TortoiseSVN into Visual Studio</a></h2>
    <p class="meta">Posted on December 10, 2012</p>
    <div class="entry">
        <p>
        If you're using <a href="https://msdn.microsoft.com/en-us/vstudio/aa718325.aspx">Visual Studio</a>,
        you can integrate TortoiseSVN commands to various context menus.
        Of course, there are Subversion plugins for Visual Studio,
        but if you're using one of the free versions of Visual Studio,
        you can not use those plugins. And sometimes it's
        still nice to have some of the TortoiseSVN commands
        available from Visual Studio directly, even if you have
        such a plugin installed.
        </p>
        <p><a href="/visualstudio.html">read more...</a></p>
    </div>
</div>
<div class="post">
    <h2 class="title">CryptSync</h2>
    <p class="meta">Posted on November 2, 2012</p>
    <div class="entry">
        <p>
        So I made another tool: CryptSync.
        </p>
        <p>
        CryptSync is a small utility that synchronizes two folders
        while encrypting the contents in one folder. That means one
        of the two folders has all files unencrypted (the files
        you work with) and the other folder has all the files
        encrypted.
        </p>
        <p>
        The synchronization works both ways: a change in one folder
        gets synchronized to the other folder. If a file is added
        or modified in the unencrypted folder, it gets encrypted.
        If a file is added or modified in the encrypted folder, it
        get decrypted to the other folder.
        </p>
        <p>
            <img class="defer" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/assets/img/news/cryptsync_info.jpg" alt="CryptSync overview" width="500" height="250">
            <noscript><img src="/assets/img/news/cryptsync_info.jpg" width="500" height="250" alt="CryptSync overview"></noscript>
        </p>
        <p>
        More information here about <a href="http://tools.stefankueng.com/CryptSync.html">CryptSync</a>.
        </p>
    </div>
</div>
<div class="post">
    <h2 class="title"><a href="/recyclebin.html">TortoiseSVN and the recycle bin</a></h2>
    <p class="meta">Posted on September 22, 2012</p>
    <div class="entry">
        <p>Subversion's design is made up so that you will
        never ever lose any data. But there's one command
        that will do exactly that: <strong>Revert</strong>.<br/>
        Reverting means discarding all modifications you've
        made to one or more files which you haven't committed
        yet.</p>
        <p>But what if you selected the wrong file(s) to revert?
        Sure, TortoiseSVN always asks you first before it
        reverts the files. But as we all know, such &quot;Are you sure?&quot;
        dialogs are too easily dismissed by clicking &quot;Yes&quot;.</p>
        <p>So what if you reverted files and you then discover
        that you shouldn't have done that?</p>
        <p><a href="/recyclebin.html">read more...</a></p>
    </div>
</div>
<div class="post">
    <h2 class="title"><a href="/revgraphsvg.html">Save the revision graph as an SVG file</a></h2>
    <p class="meta">Posted on May 9, 2012</p>
    <div class="entry">
        <p>The revision graph is a nice way to get a quick
        overview of your project. However you can not share
        the graph with other people unless you save it as
        an image and pass the image on.</p>
        <p>If the revision graph is small, then saving the
        graph as a PNG image will do just fine. But as with
        all images, a PNG does not scale very well. And if the
        revision graph is already big the resulting image file
        can get quite big as well. It can even get too big
        to show.</p>
        <p><a href="/revgraphsvg.html">read more...</a></p>
    </div>
</div>
<div class="post">
    <h2 class="title">Auto Aero Colors</h2>
    <p class="meta">Posted on April 9, 2011 &bull; <a href="http://tools.stefankueng.com/AAClr.html">Full article</a></p>
    <div class="entry">
        <p>Windows 8 has a new feature where the Aero colors can be
        <a href="http://www.withinwindows.com/2011/04/06/windows-8-secrets-aero-auto-colorization/">
        automatically adjusted according to the selected wallpaper</a>.</p>
        <p>This seems to be a nice feature, and there's even a tool available
        that offers that feature for Windows 7: <a href="http://aura.codeplex.com/">Aura</a>.</p>
        <p>But there are some things about Aura that bother me, so I hacked together
        my own tool which offers that feature.</p>
        <p>Unlike Aura, AAClr is written in plain C++ and doesn't
        use the .NET Framework. For tools that are supposed to be started
        automatically on logon, this ensures that the whole startup time
        doesn't increase by several seconds.</p>
        <p>AAClr also detects changes in wallpapers by catching events
        from the system and doesn't use timers that access the wallpaper file
        several times a second (like Aura does). That means that AAClr is idle
        most of the time and only wakes up when necessary.</p>
        <p>And about resource usage: AAClr uses less than 2MB of
        private bytes - I think that's not too much.</p>
        <p>The link to the download can be found on the <a href="http://tools.stefankueng.com/AAClr.html">project page</a>.</p>
    </div>
</div>
<div class="post">
    <h2 class="title"><a href="/beginnersguide.html">TortoiseSVN 1.7 Beginner's Guide</a></h2>
    <p class="meta">Posted on January 15, 2011 &bull; <a href="/beginnersguide.html">Full article</a></p>
    <div class="entry">
        <p>
        There's now a <a href="http://link.packtpub.com/qcmkxs">book</a> available about TortoiseSVN. Of course,
        there are books about Subversion which mention TortoiseSVN.
        But this is (I think) the first book about TortoiseSVN.
        </p>
        <p>
        Full disclosure: I was asked to <a href="http://www.packtpub.com/article/author_reviewing_for_packt">review</a>
        the book, which I did. And I'm mentioned as a reviewer in
        the book! So I had to write something about it here since
        I was never mentioned in a book before :).
        </p>
        <p>
        read my <a href="/beginnersguide.html">full post</a> about this book.
        </p>
    </div>
</div>
