---
layout: default
title: Project Status
description: overview of TortoiseSVN releases
keywords: project status
lang: en
showAds: true
---


<div class="post">
    <h1 class="title">Project Status</h1>
    <div class="entry">
        <h3>Current Release</h3>
        <p>The current stable release version is
        <strong>{{ site.version.short }}</strong>. Get it from the
        <a href="/downloads.html">downloads</a> page.</p>

        {% include adsense_inpage.html %}

        <h3>Upcoming Project Milestones</h3>
        <ul>
            <li><strong>Release 1.10.0</strong> : TBD
            This is the next major release, and will appear shortly after Subversion 1.10.0 is released. </li>
        </ul>

        <h3>What we are currently working on</h3>
        <p>Apart from fixing bugs for the stable branch (1.9.x)
        there are some new features and enhancements to existing
        features we are currently discussing and even already working on.</p>

        <h3>Older releases</h3>
        <p>Release notes for older versions:</p>
        <ul>
            <li><a href="/tsvn_1.9_releasenotes.html">Version 1.9</a></li>
            <li><a href="/tsvn_1.8_releasenotes.html">Version 1.8</a></li>
            <li><a href="/tsvn_1.7_releasenotes.html">Version 1.7</a></li>
            <li><a href="/tsvn_1.6_releasenotes.html">Version 1.6</a></li>
            <li><a href="/tsvn_1.5_releasenotes.html">Version 1.5</a></li>
            <li><a href="/tsvn_1.4_releasenotes.html">Version 1.4</a></li>
            <li><a href="/tsvn_1.3_releasenotes.html">Version 1.3</a></li>
            <li><a href="/tsvn_1.2_releasenotes.html">Version 1.2</a></li>
        </ul>
        <p>This list tells you when every release was made, and the corresponding repository revision.</p>
        <ul>
            <li><strong>Release 1.10.0</strong> (14.04.2018) r28176</li>
            <li><strong>Release 1.9.7</strong> (10.08.2017) r27907</li>
            <li><strong>Release 1.9.6</strong> (06.07.2017) r27867</li>
            <li><strong>Release 1.9.5</strong> (29.11.2016) r27581</li>
            <li><strong>Release 1.9.4</strong> (28.04.2016) r27285</li>
            <li><strong>Release 1.9.3</strong> (15.12.2015) r27038</li>
            <li><strong>Release 1.9.2</strong> (23.09.2015) r26806</li>
            <li><strong>Release 1.9.1</strong> (02.09.2015) r26747</li>
            <li><strong>Release 1.9.0</strong> (05.08.2015) r26652</li>
            <li><strong>Release 1.8.12</strong> (05.08.2015) r26645</li>
            <li><strong>Release 1.8.11</strong> (31.03.2015) r26392</li>
            <li><strong>Release 1.8.10</strong> (17.12.2014) r26129</li>
            <li><strong>Release 1.8.9</strong> (15.12.2014) r26117</li>
            <li><strong>Release 1.8.8</strong> (11.08.2014) r25755</li>
            <li><strong>Release 1.8.7</strong> (08.05.2014) r25475</li>
            <li><strong>Release 1.8.6</strong> (13.04.2014) r25419</li>
            <li><strong>Release 1.8.5</strong> (19.02.2014) r25224</li>
            <li><strong>Release 1.8.4</strong> (24.11.2013) r24972</li>
            <li><strong>Release 1.8.3</strong> (28.10.2013) r24901</li>
            <li><strong>Release 1.8.2</strong> (30.08.2013) r24708</li>
            <li><strong>Release 1.8.1</strong> (23.07.2013) r24570</li>
            <li><strong>Release 1.8.0</strong> (18.06.2013) r24401</li>
            <li><strong>Release 1.7.14</strong> (13.04.2014) r24257</li>
            <li><strong>Release 1.7.13</strong> (01.06.2013) r24257</li>
            <li><strong>Release 1.7.12</strong> (04.04.2013) r24070</li>
            <li><strong>Release 1.7.11</strong> (19.12.2012) r23600</li>
            <li><strong>Release 1.7.10</strong> (09.10.2012) r23359</li>
            <li><strong>Release 1.7.9</strong> (30.08.2012) r23248</li>
            <li><strong>Release 1.7.8</strong> (15.08.2012) r23174</li>
            <li><strong>Release 1.7.7</strong> (16.05.2012) r22907</li>
            <li><strong>Release 1.7.6</strong> (08.03.2012) r22632</li>
            <li><strong>Release 1.7.5</strong> (12.02.2012) r22551</li>
            <li><strong>Release 1.7.4</strong> (13.01.2012) r22459</li>
            <li><strong>Release 1.7.3</strong> (16.12.2011) r22386</li>
            <li><strong>Release 1.7.2</strong> (05.12.2011) r22327</li>
            <li><strong>Release 1.7.1</strong> (22.10.2011) r22161</li>
            <li><strong>Release 1.7.0</strong> (11.10.2011) r22068</li>
            <li><strong>Release 1.7.0 beta</strong> (24.07.2011) r21709</li>
            <li><strong>Release 1.6.16</strong> (01.06.2011) r21511</li>
            <li><strong>Release 1.6.15</strong> (23.03.2011) r21042</li>
            <li><strong>Release 1.6.14</strong> (18.03.2011) r21012</li>
            <li><strong>Release 1.6.13</strong> (03.03.2011) r20954</li>
            <li><strong>Release 1.6.12</strong> (27.11.2010) r20536</li>
            <li><strong>Release 1.6.11</strong> (02.10.2010) r20210</li>

            <li><strong>Release 1.6.10</strong> (16.07.2010) r19898</li>
            <li><strong>Release 1.6.9</strong> (21.06.2010) r19725</li>
            <li><strong>Release 1.6.8</strong> (17.04.2010) r19260</li>
            <li><strong>Release 1.6.7</strong> (22.01.2010) r18415</li>
            <li><strong>Release 1.6.6</strong> (22.10.2009) r17493</li>

            <li><strong>Release 1.6.5</strong> (22.08.2009) r16974</li>
            <li><strong>Release 1.6.4</strong> (06.08.2009) r16808</li>
            <li><strong>Release 1.6.3</strong> (20.06.2009) r16613</li>
            <li><strong>Release 1.6.2</strong> (09.05.2009) r16344</li>
            <li><strong>Release 1.6.1</strong> (10.04.2009) r16129</li>

            <li><strong>Release 1.6.0</strong> (21.03.2009) r15855</li>
            <li><strong>Release 1.5.9</strong> (27.02.2009) r15518</li>
            <li><strong>Release 1.5.8</strong> (13.02.2009) r15348</li>
            <li><strong>Release 1.5.7</strong> (25.01.2009) r15182</li>
            <li><strong>Release 1.5.6</strong> (23.12.2008) r14908</li>

            <li><strong>Release 1.5.5</strong> (24.10.2008) r14361</li>
            <li><strong>Release 1.5.4</strong> (11.10.2008) r14259</li>
            <li><strong>Release 1.5.3</strong> (31.08.2008) r13783</li>
            <li><strong>Release 1.5.2</strong> (31.06.2008) r13595</li>
            <li><strong>Release 1.5.1</strong> (26.07.2008) r13563</li>

            <li><strong>Release 1.5.0</strong> (21.06.2008) r13316</li>
            <li><strong>Release 1.5.0-RC3</strong> (07.06.2008) r13157</li>
            <li><strong>Release 1.5.0-RC2</strong> (10.05.2008) r12887</li>
            <li><strong>Release 1.5.0-RC1</strong> (26.04.2008) r12786</li>
            <li><strong>Release 1.5.0-beta1</strong> (22.03.2008) r12411</li>

            <li><strong>Release 1.5.0-alpha1</strong> (01.03.2008) r12222</li>
            <li><strong>Release 1.4.8</strong> (16.01.2008) r12137</li>
            <li><strong>Release 1.4.7</strong> (05.01.2008) r11792</li>
            <li><strong>Release 1.4.6</strong> (21.12.2007) r11647</li>
            <li><strong>Release 1.4.5</strong> (27.08.2007) r10425</li>

            <li><strong>Release 1.4.4</strong> (09.06.2007) r9706</li>
            <li><strong>Release 1.4.3</strong> (04.02.2007) r8645</li>
            <li><strong>Release 1.4.2</strong> (27.01.2007) r8580</li>
            <li><strong>Release 1.4.1</strong> (11.11.2006) r7992</li>
            <li><strong>Release 1.4.0</strong> (16.09.2006) r7501</li>

            <li><strong>Release 1.4.0RC1</strong> (05.08.2006) r7195</li>
            <li><strong>Release 1.3.5</strong> (15.06.2006) r6804</li>
            <li><strong>Release 1.3.4</strong> (02.06.2006) r6692</li>
            <li><strong>Release 1.3.3</strong> (05.04.2006) r6219</li>
            <li><strong>Release 1.3.2</strong> (25.02.2006) r5840</li>

            <li><strong>Release 1.3.1</strong> (24.01.2006) r5521</li>
            <li><strong>Release 1.3.0</strong> (15.01.2006) r5416</li>
            <li><strong>Release 1.3.0-RC1</strong> (30.12.2005) r5301</li>
            <li><strong>Release 1.2.6</strong> (31.10.2005) r4786</li>
            <li><strong>Release 1.2.5</strong> (22.10.2005) r4719</li>

            <li><strong>Release 1.2.4</strong> (24.09.2005) r4480</li>
            <li><strong>Release 1.2.3</strong> (23.09.2005) r4471</li>
            <li><strong>Release 1.2.2</strong> (31.08.2005) r4296</li>
            <li><strong>Release 1.2.1</strong> (15.07.2005) r3912</li>
            <li><strong>Release 1.2.0</strong> (01.06.2005) r3688</li>

            <li><strong>Release 1.1.7</strong> (05.05.2005) r3255</li>
            <li><strong>Release 1.1.6</strong> (04.05.2005) r3221</li>
            <li><strong>Release 1.1.5</strong> (07.04.2005) r2996</li>
            <li><strong>Release 1.1.4</strong> (02.04.2005) r2950</li>
            <li><strong>Release 1.1.3</strong> (20.01.2005) r2502</li>

            <li><strong>Release 1.1.2</strong> (23.12.2004) r2207</li>
            <li><strong>Release 1.1.1</strong> (24.10.2004) r1900</li>
            <li><strong>Release 1.1.0</strong> (1.10.2004) r1770</li>
            <li><strong>Release 1.1.0RC2</strong> (15.09.2004) r1695</li>
            <li><strong>Release 1.1.0RC1</strong> (11.08.2004) r1527</li>

            <li><strong>Release 1.0.8</strong> (22.07.2004) r1433</li>
            <li><strong>Release 1.0.7</strong> (20.07.2004) r1414</li>
            <li><strong>Release 1.0.6</strong> (30.05.2004) r1201</li>
            <li><strong>Release 1.0.5</strong> (23.05.2004) r1162</li>
            <li><strong>Release 1.0.4</strong> (08.05.2004) r1103</li>

            <li><strong>Release 1.0.3</strong> (26.03.2004) r969</li>
            <li><strong>Release 1.0.2</strong> (21.03.2004) r938</li>
            <li><strong>Release 1.0.1</strong> (14.03.2004) r892</li>
            <li><strong>Release 1.0</strong> (23.02.2004) r784</li>
            <li><strong>Release 0.26</strong> (28.01.2004)</li>

            <li><strong>Release 0.24</strong> (23.12.2003)</li>
            <li><strong>Release 0.23</strong> (10.12.2003)</li>
            <li><strong>Release 0.22.1</strong> (19.11.2003)</li>
            <li><strong>Release 0.22</strong> (17.11.2003)</li>
            <li><strong>Release 0.21</strong> (26.10.2003)</li>

            <li><strong>Release 0.20</strong> (09.10.2003)</li>
            <li><strong>Release 0.19</strong> (26.09.2003)</li>
            <li><strong>Release 0.18</strong> (07.09.2003)</li>
            <li><strong>Release 0.17</strong> (28.08.2003)</li>
            <li><strong>Release 0.16</strong> (16.08.2003)</li>

            <li><strong>Release 0.15.2</strong> (28.07.2003)</li>
            <li><strong>Release 0.15.1</strong> (26.07.2003)</li>
            <li><strong>Release 0.14</strong> (13.07.2003)</li>
            <li><strong>Release 0.12.1</strong> (25.06.2003)</li>
            <li><strong>Release 0.12</strong> (24.06.2003)</li>

            <li><strong>Release 0.11.2</strong> (21.05.2003)</li>
            <li><strong>Release 0.11</strong> (20.05.2003)</li>
            <li><strong>Release 0.9.2</strong> (21.04.2003)</li>
            <li><strong>Release 0.9.1</strong> (17.04.2003)</li>
            <li><strong>Release 0.9</strong> (16.04.2003)</li>

            <li><strong>Release 0.8.1</strong> (25.03.2003)</li>
            <li><strong>Release 0.8</strong> (21.03.2003)</li>
            <li><strong>Release 0.7</strong> (27.02.2003)</li>
            <li><strong>Release 0.6.1</strong> (27.02.2003)</li>
            <li><strong>Release 0.6</strong> (20.02.2003)</li>

            <li><strong>Release 0.5</strong> (01.02.2003)</li>
            <li><strong>Release 0.4</strong> (24.01.2003)
            <p>first public release. Release date linked with subversion 0.17</p></li>
        </ul>
    </div>
</div>
