---
layout: default
title: Support
id: support
description: how to get support for TortoiseSVN
keywords: support, mailing lists
lang: en
showAds: true
includeGCSE: true
---

<div class="post">
    <h1 class="title">Support</h1>
    <div class="entry">
        <p>There are several places where you can get support for
        TortoiseSVN.</p>

        <h2>Online documentation</h2>
        <div class="gcse-searchbox-only"></div>
    </div>
</div>

{% include adsense_inpage.html %}

<div class="post">
    <h1 class="title">Manuals (release version)</h1>
    <div class="entry">
        <p>If you have TortoiseSVN installed, you can simply press
        the <kbd>F1</kbd> key in any dialog to start up the help. That help
        is the same as the documentation you find here.</p>

        <table class="translations-table left-aligned table-hover">
        <thead>
        <tr>
            <th>Language</th>
            <th colspan="2">TortoiseSVN</th>
            <th colspan="2">TortoiseMerge</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="flag-gb">English</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/TortoiseSVN-{{ site.version.short }}-en.pdf">PDF</a></td>
            <td><a href="/docs/release/TortoiseSVN_en/index.html">HTML</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/TortoiseMerge-{{ site.version.short }}-en.pdf">PDF</a></td>
            <td><a href="/docs/release/TortoiseMerge_en/index.html">HTML</a></td>
        </tr>
        <tr>
            <td class="flag-zh_CN">Chinese, simplified</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/TortoiseSVN-{{ site.version.short }}-zh_CN.pdf">PDF</a></td>
            <td><a href="/docs/release/TortoiseSVN_zh_CN/index.html">HTML</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/TortoiseMerge-{{ site.version.short }}-zh_CN.pdf">PDF</a></td>
            <td><a href="/docs/release/TortoiseMerge_zh_CN/index.html">HTML</a></td>
        </tr>
        <tr>
            <td class="flag-cs">Czech</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/TortoiseSVN-{{ site.version.short }}-cs.pdf">PDF</a></td>
            <td><a href="/docs/release/TortoiseSVN_cs/index.html">HTML</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/TortoiseMerge-{{ site.version.short }}-cs.pdf">PDF</a></td>
            <td><a href="/docs/release/TortoiseMerge_cs/index.html">HTML</a></td>
        </tr>
        <tr>
            <td class="flag-nl">Dutch</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/TortoiseSVN-{{ site.version.short }}-nl.pdf">PDF</a></td>
            <td><a href="/docs/release/TortoiseSVN_nl/index.html">HTML</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/TortoiseMerge-{{ site.version.short }}-nl.pdf">PDF</a></td>
            <td><a href="/docs/release/TortoiseMerge_nl/index.html">HTML</a></td>
        </tr>
        <tr>
            <td class="flag-fi">Finnish</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/TortoiseSVN-{{ site.version.short }}-fi.pdf">PDF</a></td>
            <td><a href="/docs/release/TortoiseSVN_fi/index.html">HTML</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/TortoiseMerge-{{ site.version.short }}-fi.pdf">PDF</a></td>
            <td><a href="/docs/release/TortoiseMerge_fi/index.html">HTML</a></td>
        </tr>
        <tr>
            <td class="flag-fr">French</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/TortoiseSVN-{{ site.version.short }}-fr.pdf">PDF</a></td>
            <td><a href="/docs/release/TortoiseSVN_fr/index.html">HTML</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/TortoiseMerge-{{ site.version.short }}-fr.pdf">PDF</a></td>
            <td><a href="/docs/release/TortoiseMerge_fr/index.html">HTML</a></td>
        </tr>
        <tr>
            <td class="flag-de">German</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/TortoiseSVN-{{ site.version.short }}-de.pdf">PDF</a></td>
            <td><a href="/docs/release/TortoiseSVN_de/index.html">HTML</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/TortoiseMerge-{{ site.version.short }}-de.pdf">PDF</a></td>
            <td><a href="/docs/release/TortoiseMerge_de/index.html">HTML</a></td>
        </tr>
        <tr>
            <td class="flag-id">Indonesian</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/TortoiseSVN-{{ site.version.short }}-id.pdf">PDF</a></td>
            <td><a href="/docs/release/TortoiseSVN_id/index.html">HTML</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/TortoiseMerge-{{ site.version.short }}-id.pdf">PDF</a></td>
            <td><a href="/docs/release/TortoiseMerge_id/index.html">HTML</a></td>
        </tr>
        <tr>
            <td class="flag-ja">Japanese</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/TortoiseSVN-{{ site.version.short }}-ja.pdf">PDF</a></td>
            <td><a href="/docs/release/TortoiseSVN_ja/index.html">HTML</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/TortoiseMerge-{{ site.version.short }}-ja.pdf">PDF</a></td>
            <td><a href="/docs/release/TortoiseMerge_ja/index.html">HTML</a></td>
        </tr>
        <tr>
            <td class="flag-pt_BR">Portuguese, Brazil</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/TortoiseSVN-{{ site.version.short }}-pt_BR.pdf">PDF</a></td>
            <td><a href="/docs/release/TortoiseSVN_pt_BR/index.html">HTML</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/TortoiseMerge-{{ site.version.short }}-pt_BR.pdf">PDF</a></td>
            <td><a href="/docs/release/TortoiseMerge_pt_BR/index.html">HTML</a></td>
        </tr>
        <tr>
            <td class="flag-pt_PT">Portuguese, Portugal</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/TortoiseSVN-{{ site.version.short }}-pt.pdf">PDF</a></td>
            <td><a href="/docs/release/TortoiseSVN_pt/index.html">HTML</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/TortoiseMerge-{{ site.version.short }}-pt.pdf">PDF</a></td>
            <td><a href="/docs/release/TortoiseMerge_pt/index.html">HTML</a></td>
        </tr>
        <tr>
            <td class="flag-ru">Russian</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/TortoiseSVN-{{ site.version.short }}-ru.pdf">PDF</a></td>
            <td><a href="/docs/release/TortoiseSVN_ru/index.html">HTML</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/TortoiseMerge-{{ site.version.short }}-ru.pdf">PDF</a></td>
            <td><a href="/docs/release/TortoiseMerge_ru/index.html">HTML</a></td>
        </tr>
        <tr>
            <td class="flag-sr_spc">Serbian cyrillic</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/TortoiseSVN-{{ site.version.short }}-sr.pdf">PDF</a></td>
            <td><a href="/docs/release/TortoiseSVN_sr/index.html">HTML</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/TortoiseMerge-{{ site.version.short }}-sr.pdf">PDF</a></td>
            <td><a href="/docs/release/TortoiseMerge_sr/index.html">HTML</a></td>
        </tr>
        <tr>
            <td class="flag-sr_spl">Serbian latin</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/TortoiseSVN-{{ site.version.short }}-sr@latin.pdf">PDF</a></td>
            <td><a href="/docs/release/TortoiseSVN_sr@latin/index.html">HTML</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/TortoiseMerge-{{ site.version.short }}-sr@latin.pdf">PDF</a></td>
            <td><a href="/docs/release/TortoiseMerge_sr@latin/index.html">HTML</a></td>
        </tr>
        <tr>
            <td class="flag-sk">Slovak</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/TortoiseSVN-{{ site.version.short }}-sk.pdf">PDF</a></td>
            <td><a href="/docs/release/TortoiseSVN_sk/index.html">HTML</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/TortoiseMerge-{{ site.version.short }}-sk.pdf">PDF</a></td>
            <td><a href="/docs/release/TortoiseMerge_sk/index.html">HTML</a></td>
        </tr>
        <tr>
            <td class="flag-sl">Slovenian</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/TortoiseSVN-{{ site.version.short }}-sl.pdf">PDF</a></td>
            <td><a href="/docs/release/TortoiseSVN_sl/index.html">HTML</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/TortoiseMerge-{{ site.version.short }}-sl.pdf">PDF</a></td>
            <td><a href="/docs/release/TortoiseMerge_sl/index.html">HTML</a></td>
        </tr>
        <tr>
            <td class="flag-es">Spanish</td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/TortoiseSVN-{{ site.version.short }}-es.pdf">PDF</a></td>
            <td><a href="/docs/release/TortoiseSVN_es/index.html">HTML</a></td>
            <td><a href="https://osdn.net/projects/tortoisesvn/storage/{{ site.version.short }}/TortoiseMerge-{{ site.version.short }}-es.pdf">PDF</a></td>
            <td><a href="/docs/release/TortoiseMerge_es/index.html">HTML</a></td>
        </tr>
        </tbody>
        </table>

    </div>
</div>

{% include adsense_inpage.html %}

<div class="post">
    <h1 class="title">Manuals (development version)</h1>
    <div class="entry">
        <p>These manuals are only for the trunk build, not released
        versions. Please note that these docs aren't updated
        nightly but very irregularly.</p>

        <table class="translations-table left-aligned table-hover">
        <thead>
        <tr>
            <th>Language</th>
            <th>TortoiseSVN</th>
            <th>TortoiseMerge</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="flag-gb">English</td>
            <td><a href="/docs/nightly/TortoiseSVN_en/index.html">HTML</a></td>
            <td><a href="/docs/nightly/TortoiseMerge_en/index.html">HTML</a></td>
        </tr>
        <tr>
            <td class="flag-zh_CN">Chinese, simplified</td>
            <td><a href="/docs/nightly/TortoiseSVN_zh_CN/index.html">HTML</a></td>
            <td><a href="/docs/nightly/TortoiseMerge_zh_CN/index.html">HTML</a></td>
        </tr>
        <tr>
            <td class="flag-cs">Czech</td>
            <td><a href="/docs/nightly/TortoiseSVN_cs/index.html">HTML</a></td>
            <td><a href="/docs/nightly/TortoiseMerge_cs/index.html">HTML</a></td>
        </tr>
        <tr>
            <td class="flag-nl">Dutch</td>
            <td><a href="/docs/nightly/TortoiseSVN_nl/index.html">HTML</a></td>
            <td><a href="/docs/nightly/TortoiseMerge_nl/index.html">HTML</a></td>
        </tr>
        <tr>
            <td class="flag-fi">Finnish</td>
            <td><a href="/docs/nightly/TortoiseSVN_fi/index.html">HTML</a></td>
            <td><a href="/docs/nightly/TortoiseMerge_fi/index.html">HTML</a></td>
        </tr>
        <tr>
            <td class="flag-fr">French</td>
            <td><a href="/docs/nightly/TortoiseSVN_fr/index.html">HTML</a></td>
            <td><a href="/docs/nightly/TortoiseMerge_fr/index.html">HTML</a></td>
        </tr>
        <tr>
            <td class="flag-de">German</td>
            <td><a href="/docs/nightly/TortoiseSVN_de/index.html">HTML</a></td>
            <td><a href="/docs/nightly/TortoiseMerge_de/index.html">HTML</a></td>
        </tr>
        <tr>
            <td class="flag-id">Indonesian</td>
            <td><a href="/docs/nightly/TortoiseSVN_id/index.html">HTML</a></td>
            <td><a href="/docs/nightly/TortoiseMerge_id/index.html">HTML</a></td>
        </tr>
        <tr>
            <td class="flag-ja">Japanese</td>
            <td><a href="/docs/nightly/TortoiseSVN_ja/index.html">HTML</a></td>
            <td><a href="/docs/nightly/TortoiseMerge_ja/index.html">HTML</a></td>
        </tr>
        <tr>
            <td class="flag-pt_BR">Portuguese, Brazil</td>
            <td><a href="/docs/nightly/TortoiseSVN_pt_BR/index.html">HTML</a></td>
            <td><a href="/docs/nightly/TortoiseMerge_pt_BR/index.html">HTML</a></td>
        </tr>
        <tr>
            <td class="flag-pt_PT">Portuguese, Portugal</td>
            <td><a href="/docs/nightly/TortoiseSVN_pt/index.html">HTML</a></td>
            <td><a href="/docs/nightly/TortoiseMerge_pt/index.html">HTML</a></td>
        </tr>
        <tr>
            <td class="flag-ru">Russian</td>
            <td><a href="/docs/nightly/TortoiseSVN_ru/index.html">HTML</a></td>
            <td><a href="/docs/nightly/TortoiseMerge_ru/index.html">HTML</a></td>
        </tr>
        <tr>
            <td class="flag-sr_spc">Serbian cyrillic</td>
            <td><a href="/docs/nightly/TortoiseSVN_sr/index.html">HTML</a></td>
            <td><a href="/docs/nightly/TortoiseMerge_sr/index.html">HTML</a></td>
        </tr>
        <tr>
            <td class="flag-sr_spl">Serbian latin</td>
            <td><a href="/docs/nightly/TortoiseSVN_sr@latin/index.html">HTML</a></td>
            <td><a href="/docs/nightly/TortoiseMerge_sr@latin/index.html">HTML</a></td>
        </tr>
        <tr>
            <td class="flag-sk">Slovak</td>
            <td><a href="/docs/nightly/TortoiseSVN_sk/index.html">HTML</a></td>
            <td><a href="/docs/nightly/TortoiseMerge_sk/index.html">HTML</a></td>
        </tr>
        <tr>
            <td class="flag-sl">Slovenian</td>
            <td><a href="/docs/nightly/TortoiseSVN_sl/index.html">HTML</a></td>
            <td><a href="/docs/nightly/TortoiseMerge_sl/index.html">HTML</a></td>
        </tr>
        <tr>
            <td class="flag-es">Spanish</td>
            <td><a href="/docs/nightly/TortoiseSVN_es/index.html">HTML</a></td>
            <td><a href="/docs/nightly/TortoiseMerge_es/index.html">HTML</a></td>
        </tr>
        </tbody>
        </table>
    </div>
</div>
<div class="post">
    <h1 class="title">Other support</h1>
    <div class="entry">
        <h3>Older Manuals</h3>
        <p>Older releases are available from the
        <a href="https://osdn.net/projects/tortoisesvn/storage/">OSDN.net files</a> section.</p>

        <h3>Professional Support</h3>
        <p>A lot of companies also offer professional support. Some
        of them are also active in the development of Subversion
        itself and have hired developers who work actively on the
        projects.</p>

        <p>WANdisco has a support forum for TortoiseSVN, which
        you can find <a href="http://www.wandisco.com/svnforum/forums/40-TortoiseSVN-Community-Support">here</a>.</p>

        <h3>Project Status</h3>
        <p>Have a look at our <a href="/status.html">project status</a>
        page to see what we are working on at the moment, and to
        check the release history.</p>

        <h3>TortoiseSVN book</h3>
        <p>The <a href="http://link.packtpub.com/qcmkxs">TortoiseSVN 1.7 Beginner's Guide</a> is a
        well written book, as its title says for beginners. But
        it is not available for free.
        I've also written a <a href="/beginnersguide.html">small review</a>.
        </p>

        <h3>Subversion book</h3>
        <p>Read the official Subversion book
        <a href="http://www.amazon.com/gp/product/0596510330/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=0596510330&amp;linkCode=as2&amp;tag=to0d-20&amp;linkId=LFU5LJ45CYBLTFPK">Version Control with Subversion</a>
        <img src="https://ir-na.amazon-adsystem.com/e/ir?t=to0d-20&amp;l=as2&amp;o=1&amp;a=0596510330" width="1" height="1" alt="wtf" style="border:none !important; margin:0px !important;" />
        to find out what it's all about. This book explains the
        general concepts of Subversion. It's no must, but it'll
        give you deep insight. There's also a
        <a href="http://svnbook.red-bean.com/">free online version</a> available.</p>

        <h3>FAQ</h3>
        <p>A list of common problems and their solutions can be
        found in the <a href="/faq.html">FAQ</a>. Please note that
        the FAQ contains answers, but is not the place to ask
        questions. For that you need to go to the users mailing list.
        When we have a good answer to a good question we post it
        in the FAQ.</p>

        <h3>Mailing list</h3>
        <p>If your question is not answered in any of these places,
        you can subscribe to one of our two mailing lists:</p>
        <ul>
        <li>The users list, where we deal with the howto
        (configuration, daily work, ...). If there is something you
        don't understand, feel free to ask a question here and you
        will usually get a rapid response.</li>
        <li>The developer list, where we discuss the internals of
        TortoiseSVN (bugs, features, enhancements, ...). If you
        want to contribute to the project, this is where the
        development discussions take place.</li>
        </ul>
        <p>Please have a look at our <a href="/community.html">community page</a>
        to find out how to subscribe to and search those mailing lists.</p>
    </div>
</div>
