---
layout: default
title: Visual Studio integration
description: Visual Studio integration
keywords: Visual Studio integration
lang: en
includeBaguetteBox: true
showAds: true
---

<div class="post">
    <h2 class="title">How to integrate TortoiseSVN into Visual Studio</h2>
    <p class="meta">Posted on December 10, 2012</p>

    {% include adsense_inpage.html %}

    <div class="entry">
    <p>
        If you're using <a href="https://msdn.microsoft.com/en-us/vstudio/aa718325.aspx">Visual Studio</a>,
        you can integrate TortoiseSVN commands to various context menus.
        Of course, there are Subversion plugins for Visual Studio like
        <a href="http://ankhsvn.open.collab.net/">AnkhSVN</a>
        or <a href="http://www.visualsvn.com/visualsvn/">VisualSVN</a>,
        with the latter already using TortoiseSVN for many
        of its UI. Those plugins also have the advantage
        that when you do refactoring, they automatically
        record the renames and moves in SVN.
    </p>
    <p>
        But if you're using one of the free versions of Visual Studio,
        you can not use those plugins. And sometimes it's
        still nice to have some of the TortoiseSVN commands
        available from Visual Studio directly, even if you have
        such a plugin installed.
    </p>
    <p>
        The first step is to add the TortoiseSVN commands
        as <em>external tools</em>, under the menu <em>TOOLS</em>-&gt;<em>External Tools...</em>.
    </p>
        <a href="/assets/img/VS_externaltools.png" title="VS_externaltools">
            <img src="/assets/img/VS_externaltools-small.png" alt="VS_externaltools" width="200" height="195">
        </a>
    <p>
        Add the name of the command, the path to <em>TortoiseProc.exe</em>
        and then the parameters for the command.
    </p>
    <p>
        Use the VS variables wherever needed. Since I add
        my commands to the context menu of the open file tab,
        here's the parameters I used:
    </p>
    <ul>
        <li><code>/command:blame /path:"$(ItemPath)" /line:$(CurLine) /startrev:1 /endrev:HEAD</code></li>
        <li><code>/command:diff /path:"$(ItemPath)"</code></li>
        <li><code>/command:log /path:"$(ItemPath)"</code></li>
    </ul>
    <p>
        Notice the <em>/line:</em> parameter: this will make
        TortoiseBlame automatically scroll to the same line
        the cursor is located in the opened file in Visual Studio.
        If you omit the <em>/startrev</em> and <em>/endrev</em> parameters
        for the blame command then a dialog is first shown where you can
        specify more options for the blame.
    </p>
    <p>
        Now to add those new commands to the file tab context menu,
        go to <em>TOOLS</em>-><em>Customize...</em>, select
        the <em>Commands</em> tab, click the radio button
        <em>Context menu</em> and then select
        <em>Other Context Menus | Easy MDI Document Window</em>.
    </p>
        <a href="/assets/img/VS_customize.png" title="VS_customize">
            <img src="/assets/img/VS_customize-small.png" alt="VS_customize" width="200" height="206">
        </a>
    <p>
        Then click the <em>Add command...</em> button:
    </p>
        <a href="/assets/img/VS_addcommand.png" title="VS_addcommand">
            <img src="/assets/img/VS_addcommand-small.png" alt="VS_addcommand" width="200" height="126">
        </a>
    <p>
        Now you have to select the commands. Problem is that
        the custom commands are not shown with their title
        but only as <em>External Command X</em> with <em>X</em>
        being the number of the external command.
    </p>
    <p>
        In my case, the commands were number 9-11, you might
        have to do some trial-and-error here. Just add the commands
        you think are the ones you added and then check if
        the right ones show up in the context menu.
    </p>
    <p>
        And this is how the context menu of the open file
        tab looks like:
    </p>
        <a href="/assets/img/VS_contextmenu.png" title="VS_contextmenu">
            <img src="/assets/img/VS_contextmenu-small.png" alt="VS_contextmenu" width="200" height="212">
        </a>
    </div>
</div>
